:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #508484; ;
    --secondary: #B6D03B;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Assistant', sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}
body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    text-align: left;
    background-color: #fff;
}
main{
    width: 100%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.catalogo-wrapper{
    padding: 1.5rem !important;
}
.catalogo-wrapper .flex-wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.25rem;
}
.catalogo-wrapper .flex-wrapper img{
    width: 100px;
    object-fit: contain;
}
.catalogo-wrapper header h1{
    color: var(--primary);
    font-weight: 700;
}
.contacto-headline{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.2rem;
}
.contacto-headline h2{
    margin:0; 
    color: var(--primary);
}
.contacto-headline .linea{
    background-color: var(--primary);
    height: 3px;
    flex: 1;
    border-radius: 2px;
}
/* DATOS GENERALES */
.datos-generales .grid-wrapper{
    display: grid !important;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr)) !important;
    gap: 1.5rem !important;
    margin-bottom: 1.25rem;
}
.datos-generales .grid-wrapper .texto-general{
    background-color: #B6D03B;
    padding: 1rem;
    border-radius: 10px;
}
.datos-generales .grid-wrapper .texto-general p{
    font-weight: 300;
}
/* DETALLES */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: (4,1fr);
    grid-template-areas: 'card-primero card-primero'
                            'propagacion consecuencias'
                            'reproduccion consecuencias'
                            'vida consecuencias';
    gap: 1rem;
    margin-bottom: 1.25rem;
}
.detalles-card{
    box-shadow: 2px 2px 2px var(--gray);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}
.detalles-card h2{
    margin-bottom: 0.85rem;
}
.detalles-card:first-child{
    display: flex;
    grid-area: card-primero;
}
.detalles-card:first-child img{
    flex: 1;
    height: 100%;
}
.propagacion{
    grid-area: propagacion;
}
.vida{
    grid-area: vida;
}
.reproduccion{
    grid-area: reproduccion;
}
.consecuencias{
    grid-row: 2/5;
}
.plantas-atacan{
    background-image:linear-gradient(to bottom,rgb(0,0,0,0.3),rgb(0,0,0,0.3)) ,url("../assets/img/planta-fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 1rem 2.5rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    min-height: 300px;
    display: grid;
}
.plantas-atacan .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.plantas-atacan .flex-container p{
    font-size: 1.3rem;
}
.tecnicas-goteo{
    background:url('../assets/img/planta-footer.png');
    background-position: center;
    border-radius: 50px;
    min-height: 180px;
    display: grid;
    place-content: center;
    width: 80%;
    margin: 0 auto;
}
.tecnicas-goteo a{
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
}

