:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #508484; ;
    --secondary: #B6D03B;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Assistant', sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}
body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    text-align: left;
    background-color: #fff;
}
main{
    width: 100%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.guia-wrapper{
    padding: 1.5rem !important;
}
.guia-wrapper .flex-wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.25rem;
}
.guia-wrapper .flex-wrapper img{
    width: 100px;
    object-fit: contain;
}
.guia-wrapper header h1{
    color: var(--primary);
    font-weight: 700;
}

.contacto-headline{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
}
.contacto-headline h2{
    margin:0; 
    color: var(--primary);
    align-content: center;
}
.contacto-headline .linea2{
    background-color:white;
    height: 3px;
    flex: 1;
    border-radius: 2px;
    
}
.contacto-headline .linea{
    background-color: var(--primary);
    height: 3px;
    flex: 1;
    border-radius: 2px;
    
}
/* DATOS GENERALES */
.datos-generales .grid-wrapper{
    display: grid !important;
    grid-template-columns: repeat(3,1fr) !important;
    gap: 1.2rem !important;
    margin-bottom: 1.25rem;
}
.datos-generales .grid-wrapper .texto-general{
    background: rgba(182, 208, 59, 0.3);
    padding: 1rem;
    border-radius: 10px;
}
.datos-generales .grid-wrapper .texto-general p{
    font-weight: 300;
}
.texto-largo{
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    background: rgba(182, 208, 59, 0.3);
    grid-column: 1/4;
}
/* DETALLES */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: (3,1fr);
    grid-template-areas: 'card-primero card-segundo'
                        'imagen imagen'
                        'card-ultima card-ultima';
    gap: 1rem;
    margin-bottom: 1.25rem;
    place-content: center;
}

.texto-general-card{
    box-shadow: 2px 2px 2px var(--gray),
                -0.5px -0.5px 5px var(--gray);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

.texto-largo2{
    box-shadow: 2px 2px 2px var(--gray),
                -0.5px -0.5px 5px var(--gray);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    grid-area: card-ultima;
}
.riego-imagen{
    background-image: url('../assets/img/riego.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    grid-area: imagen;
    min-height: 350px;
}
.monitoreo-imagen{
    background:url('../assets/img/monitoreo.png');
    background-position: center;
    display: grid;
    place-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 360px;
    height: 130px;
    left: 46px;
    border-radius: 124.5px;
}
.metodo-imagen{
    background:url('../assets/img/metodos.png');
    background-position: center;
    border-radius: 50px;
    min-height: 180px;
    display: grid;
    place-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: -5rem;
}
.tecnicas-goteo{
    background:url('../assets/img/impacto.png');
    background-position: center;
    border-radius: 50px;
    min-height: 180px;
    display: grid;
    place-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}
.tecnicas-goteo p{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1rem;
}

